.container {
  display: grid;
  grid-template-columns: 350px 1fr 350px;
  gap: 1.5rem;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
  }

  .sidebar {
    order: -1;
  }
}
