* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-foreground);
  padding: 2rem;
}

#root {
  max-width: 1600px;
  margin: 0 auto;
}
